.app-footer{
  z-index: 999;
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
  padding: 9px;
  background-color: rgba(51,51,51,.88);
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  .foot-btn {
    display: block;
    flex: 1;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    width: 21%;
    margin-left: 11px;
    height: 32px;
    line-height: 32px;
    float: left;
  }
}