.list-category-6 {
    width:100%;
    font-size: 16px;
    color: #333;
    table {
        width: 100%;
        margin-bottom: 12px;
        background-color: #fff;
        border-collapse: collapse;
        border-spacing: 0;

        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;

            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                border-bottom: 1px solid #e0e0e0;

                td {
                    position: relative;
                    width: 50%;
                    vertical-align: middle;

                        a {
                        font-size: 16px;
                        color: #333;
                        }

                        .border{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 1px;
                            height: 100%;
                            background-color: #e0e0e0;
                            background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.12),rgba(0,0,0,.12) 50%,transparent 50%);
                            background-repeat: no-repeat;
                            background-size: 100% 1px;
                            background-position: bottom;
                        }
                }
            }
            .ll {
                margin-left: 15px;
                height: 72px;

                a {
                    margin-left: 21px;
                    .i {
                        width: 36px;
                        height: 36px;
                        vertical-align: middle;
                        display: inline-block;
                        background-image: url(https://b-ssl.duitang.com/uploads/people/201509/28/20150928110746_iVJh2.png);
                        background-size: 288px auto;
                    }
                    .lpg {
                        background-position: 0 0;
                        margin-right: 10px;
                    }
                    .tmh {
                        background-position: -36px 0;
                        margin-right: 10px;
                    }
                }
            }
            .xxl {
                height: 155px;

                td {
                    a {
                        display: inline-block;
                        margin-left: 21px;
                        margin-bottom: 14px;
                        span {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            border-radius: 6px;
                            margin: 0 12px 2px 0;
                        }
                    }
                }
                .c1{
                    span {
                        background-color: #7fe1a8;
                    }
                }
                .c2 {
                    span {
                        background-color: #83c0ae;
                    }
                }
                .c3 {
                    span {
                            background-color: #c49ad5;
                    }
                }
                .c4 {
                    span {
                        background-color: #85929f;
                    }
                }
                .c5 {
                    span {
                        background-color: #f8dd66;
                    }
                }
                .c6 {
                    span {
                        background-color: #72d8c4;
                    }
                }
            }
        }
    }
            
}
        

