#content {
    width:375px;
    font-size: 16px;
    color: #333;
    background: #fff;
    overflow-x: hidden;
    .top {
       width:100%;
       height:72px;
       .item-box{
           width:100%;
           height:72px;
           display: flex;
           justify-content: space-between;
            .top-item{
                width:50%;
                height:100%;
                border-bottom: 1px solid #e0e0e0;
                &:first-child{
                    border-right: 1px solid #e0e0e0;                   
                }
                a {
                    display: inline-block;
                    width:100%;
                    height:100%;
                    display: flex;
                    align-items: center;
                    span {
                        width: 36px;
                        height: 36px;
                        margin: 0 11px;
                        display: inline-block;
                        background-image: url(https://b-ssl.duitang.com/uploads/people/201509/28/20150928110746_iVJh2.png);
                        background-size: 288px auto;
                    }
                    &:first-child{
                        background-position: 0 0;
                    }
                }
                &:last-child{
                    a{
                        span{
                            background-position: -36px 0;
                        }
                    }
                }
            }                   
        }   
    }
    .bottom{
        width:100%;
        display:flex;
        flex-wrap: wrap;        
        justify-content:space-between;
        .bottom-box{
            width:50%;
            height:155px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid #e0e0e0;
            &:nth-child(odd){
                border-right: 1px solid #e0e0e0;
            }
            .bottom-item{
                width:100%;
                a {  
                    display:block;
                    width:100%;
                    margin-left: 21px;
                    margin-bottom: 14px;
                    span {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-radius: 6px;
                        margin: 0 12px 2px 0;
                        background-color: #7fe1a8;
                    }                  
                }
    
            }
        }
    }
}
        

