html{
  font-size: 62.5%;
}
body{
  font-size: 12px;
  color: #333;
  overflow-x: hidden;
}
a {
  color: #666;
}
h1, h2, h3 {
  font-size: 14px;
}
.logo {
  display: block;
  flex: 2;
  float: left;
  width: 50%;
  > img {
    width: 95%;
  }
}

.clear:after{
  content: '.';
  display: block;
  clear: both;
  visibility:hidden;
  height:0
}
.clear{
  zoom: 1;
}
